.App{
    background-image:url(../../images/Bg.png);
    height:1000px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
.cards{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

@media only screen and (max-width: 573px) {
    .App{
      height:100%;
    }
}